@font-face {
	font-family: 'Roboto';
	src: url('res/roboto/Roboto-Thin.ttf') format('truetype');
}

body {
	background: #000;
	color: #fff;

	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
}

#black-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: #000;

	transition: 1s ease-in-out;
}

#black-overlay.transparent {
	opacity: 0;
}

#black-overlay audio {
	display: hidden;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header h1 {
	font-size: 80px;
	letter-spacing: 5px;

	display: inline;
}

.header .time {
	padding: 0px 20px;
}

.header .time #time {
	margin-bottom: 5px;
}

.header .time h3 {
	text-align: right;
	margin: 1px;
	font-size: 30px;
}

.header .weather #weather-icon {
	width: 90px;
	height: 90px;
}

.header .weather #weather_summary {
	max-width: 400px;
}

.header .weather h3 {
	font-size: 30px;
	margin: 1px;
}